.darkBtn {
    background-color: #0C6170;
    border-color: #0C6170;
    color: #DBF5F0;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.darkBtn:hover {
    background-color: #117f92;;
}

.lightBtn {
    background-color: #DBF5F0;
    color: #0C6170;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    border-color: #DBF5F0;
}

.lightBtn:hover {
    background-color: #a3f8e7;
}

