.content{
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 3%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.quotaPane{
    height: 100%;
    color: #000;
}

.rightPane{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.screenTimePane{
    display: flex;
    flex-direction: column;
    gap: 20px;
}