.container {
  background-color: #0C6170;
  padding: 5% 10% 10% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoLarge {
  margin: 0 auto;
}

.signup-box {
  position: relative;
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  padding: 0 40px 40px 40px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.signup-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px;
  color: black;
}

.user-box {
  position: relative;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #333;
  pointer-events: none;
  transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}

.signupBtn{
  margin-top: 30px;
  width: 100%;
}
