.timer{
    margin-top: 40px;
}

.timerDisplay{
    text-align: center;
    font-size: 50px;
    color: #0C6170;
}

.timerButtons{
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 5%;
    width: 100%;
    justify-content: center;
}

#startBtn{
    width: 45%;
}

#stopBtn{
    width: 45%;
}